html {
	font-size: 62.5%;
	font-family: "Times New Roman", Times, serif;
	color: black;
}
html,
body {
	margin: 0;
}

$app-background: #99eeff;

body {
	background-color: $app-background;
}

#logo {
	display: block;
	width: 100%;
	text-align: center;

	font-size: 500%;
	height: 1em;

	img {
		height: 1.5em;
	}
}

#formbox {
	$width: 20vw;
	width: $width;
	height: auto;

	position: relative;
	top: 50vh;
	transform: translateY(-50%);
	left: calc((100vw - $width) / 2);

	border-color: white;
	border-radius: 2px;
	border-style: solid;

	input {
		$inputsize: 10vw;
		width: $inputsize;
		position: relative;
		left: calc(($width - $inputsize) / 2);
	}
}
