<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>To-do List</title>
		<link rel="stylesheet" href="/login/styles/login.css" />
	</head>
	<body>
		<span id="logo"><img src="/login/Assets/Images/Notepad.png" />To-Do List</span>
		<div id="login_prompt">
			<div id="failed_login">
				<span>Username or password incorrect </span>
			</div>
			<div id="formbox">
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" required />
				<br />
				<br />
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required />
				<br />
				<input type="submit" id="login" value="Login" csrf="<%=_csrf%>" />
			</div>
		</div>
		<script src="/login/Scripts/post.js"></script>
		<script src="/login/Scripts/login.js"></script>
	</body>
</html>
