<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>To-do List Settings</title>
		<link rel="stylesheet" href="/users/styles/settings.css" />
	</head>
	<body>
		<span id="close">╳</span>
		<div id="form">
			<div class="setting">
				<span class="label">Email:</span>
				<br />
				<input id="email" type="email" value="<%=email%>" setvalue="<%=email%>" />
			</div>
			<br />
			<br />
			<br />
			<div class="setting">
				<span class="label">Current Password:</span>
				<br />
				<input id="oldPassword" type="password" />
			</div>
			<br />
			<div class="setting">
				<span class="label">New Password:</span>
				<br />
				<input id="newPassword" type="password" />
			</div>
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<div id="submissions">
				<button id="update">Save Changes</button>
				<br />
				<br />
				<br />
				<button id="logout">Logout</button>
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<button id="delete">Delete Account</button>
			</div>
		</div>
		<div id="confirmation">
			<span id="confirmationbox">
				<div id="cancelDeletion">╳</div>
				You are about to delete your account including all notes pertaining to the account.
				<br />
				<br />
				This is an irreversible action. Your account can not be re-enabled after deletion.
				<br />
				<br />
				If you are certain, type <span class="bold">Delete My Account</span> in the box below.
				<br />
				<input type="text" id="acknowledgement" />
				<button id="confirm" style="visibility: hidden;" autocomplete="off">Confirm Deletion</button>
			</span>
		</div>
	</body>
	<script src="/Scripts/post.js"></script>
	<script src="/users/scripts/settings.js"></script>
</html>
