html {
	font-size: 62.5%;
	font-family: "Times New Roman", Times, serif;
	color: black;
	overflow-x: hidden;
}

$app-background: #26303a;

body {
	background-color: $app-background;
	margin: 0;
}

#close {
	position: fixed;
	top: 1vh;
	right: 1vw;

	font-size: 400%;

	cursor: pointer;

	color: white;
}

#admin_sections {
	width: 100%;

	position: relative;
	top: 10vh;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	$section-border: 3px;

	.section {
		height: 10vw;
		width: 10vw;

		font-size: 300%;
		color: white;

		text-align: center;

		border: $section-border solid white;

		cursor: pointer;

		display: flex;
		justify-content: center;

		flex-direction: column;
	}

	.section:hover {
		$new-section-border: 5px;
		border: $new-section-border solid white;
		// Prevent movement when border grows
		margin: calc($section-border - $new-section-border);
	}

	.section:active {
		$new-section-border: 7px;
		border: $new-section-border solid white;
		// Prevent movement when border grows
		margin: calc($section-border - $new-section-border);
	}

	.icon {
		position: relative;
		right: 100%;
		transform: translateX(50%);

		width: 15vw;
		height: 7vh;
	}
}

#logout {
	align-items: center;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.25rem;
	box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
	box-sizing: border-box;
	color: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	display: inline-flex;
	font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	$width: 50%;
	width: $width;

	position: relative;
	left: calc((100% - $width) / 2);
	top: 40vh;
}
#logout:hover {
	border-color: rgba(0, 0, 0, 0.15);
	box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
	color: rgba(0, 0, 0, 0.65);
	background-color: rgba(255, 0, 0, 0.5);
}
