html {
	font-size: 62.5%;
	font-family: "Times New Roman", Times, serif;
	color: black;
}
html,
body {
	margin: 0;
}

$app-background: #26303a;

body {
	background-color: $app-background;
}

#close {
	position: fixed;
	top: 1vh;
	right: 1vw;

	font-size: 400%;

	cursor: pointer;

	color: white;
}

#admin_sections {
	width: 100%;
	position: relative;
	top: 10vh;
	display: flex;
	justify-content: space-around;

	.section {
		height: 10vh;
		width: 20vw;
		font-size: 300%;
		color: white;
	}
}
